.alchemist-tests-pane .alchemist-tests-label { 
  width: 100px;
  font-size: 1.1em;
  font-style: italic;
}
  .alchemist-tests-pane .alchemist-tests-label > label { cursor: pointer; }

.alchemist-tests-pane > div:nth-child(2) { margin-bottom: 5px; }

.alchemist-tests-pane progress { 
  width: 33%; 
  height: 13px;
}

.alchemist-tests-pane progress[value]::-moz-progress-bar {   
  }


.alchemist-tests-pane ul { 
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;
}

.alchemist-tests-pane li { 
  margin: 0;
  padding: 0 0 2px 0;
  margin-left: 15px;
  overflow: hidden
}

.alchemist-tests-pane li > h2 { 
  margin: 0;
  font-size: 13px; 
  font-weight: normal;
}

  .alchemist-tests-pane li > h2 span:nth-child(1) { margin-right: 5px; }
  .alchemist-tests-pane li > h2.alchemist-tests-passed span:nth-child(1) { color: #009900; }

  .alchemist-tests-pane li > h2.alchemist-tests-failed > div:hover { 
    cursor: pointer;
    font-weight: bold;
  }
  .alchemist-tests-pane li > h2.alchemist-tests-failed span:nth-child(1) { color: #b94a48; }
  
  .alchemist-tests-pane li > h2 span:nth-child(2) { 
    font-size: 0.75em;
    margin-left: 5px;
    padding: 2px 5px;
    color: #fff;
    border-radius: 5px;
  }
  .alchemist-tests-pane li > h2.alchemist-tests-slow span:nth-child(2) { background: #009900; }
  .alchemist-tests-pane li > h2.alchemist-tests-medium span:nth-child(2) { background: #c09853; }
  .alchemist-tests-pane li > h2.alchemist-tests-fast span:nth-child(2) { background: #b94a48; }

.alchemist-tests-pane li pre { 
  margin: 5px 0 10px 0;
  padding: 0 5px 5px 5px;
  width: 100%; 
  word-wrap: break-word;
  color: #c00;  
}


.alchemist-deployments-pane canvas { 
  width:  100%;
  height: 100%;
}
