
.alchemist-shell-main-content > div:first-child { 
  height: 40px;
  padding: 5px; 
}

.alchemist-pipelines {
  height: calc(100% - 40px);
  max-height: calc(100% - 40px);
  overflow-y: auto; 
}
  .alchemist-pipelines > a { display: block; }

.alchemist-pipeline-container:hover { 
  border: 1px solid #bbb;
  border-radius: 2px;
  box-shadow: -20px -10px 50px #777 inset; 
}

.alchemist-pipeline-container > table { width: 100%; }
.alchemist-pipeline-container .alchemist-pipeline-status { width: 12px; }
.alchemist-pipeline-container .alchemist-pipeline-label { 
  width: 150px;
  margin-right: 5px;
}
.alchemist-pipeline-container .alchemist-pipeline-progress { 
  width: calc(100% - 150px); 
}

.alchemist-pipeline-status > span { color: #009900; }
.alchemist-pipeline-status.alchemist-pipeline-error > span { color: #b94a48; }

.alchemist-pipeline-label > label { padding-left: 5px; }

.alchemist-pipeline-pane { 
  display: none;
  background-color: transparent;
  padding: 5px 5px 5px 10px;
}

.alchemist-pipeline-pane table { width: 100%; }
.alchemist-pipeline-pane h1 { 
  font-size: 1.25em; 
  border-bottom: 1px solid #888;
  cursor: pointer;
}

.alchemist-pipeline-pane > div:nth-child(2) { 
  background-color: transparent;
  margin-bottom: 10px;
}

progress { width: 100%; }
progress:not([value]) {
  /* Styling here */
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  
  padding: 5px;    
  border: none;   /* Get rid of default border in Firefox. */
  color: green;   /* For IE10 */
}

.alchemist-pipelines progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value { 
  background: green; 
  border-radius: 2px; 
}
progress[value]::-moz-progress-bar { 
  background-color: green; 
  border-radius: 2px; 
}

.alchemist-pipeline-progress progress[value] { height: 20px; }
  .alchemist-pipeline-progress progress[value]::-webkit-progress-value { 

    background-image: -webkit-linear-gradient(left, transparent, transparent);
    background-image: -moz-linear-gradient(right, transparent, transparent);
    background-image: -o-linear-gradient(right, transparent, transparent);
    background-image: linear-gradient(to right, transparent, transparent);
  }

  .alchemist-pipeline-progress progress[value]::-moz-progress-bar { 
  }

.alchemist-pipeline-inactive progress[value]::-webkit-progress-value { 
  opacity: 0.25;
  filter: alpha(opacity=25); /* For IE8 and earlier */
  background-color: black;
  background-image: -webkit-linear-gradient(left, transparent, transparent);
  background-image: -moz-linear-gradient(right, transparent, transparent);
  background-image: -o-linear-gradient(right, transparent, transparent);
  background-image: linear-gradient(to right, transparent, transparent);
}

.alchemist-pipeline-inactive progress[value]::-moz-progress-bar { 
  opacity: 0.25;
  filter: alpha(opacity=25); /* For IE8 and earlier */
  background-color: black;
  background-image: -webkit-linear-gradient(left, transparent, transparent);
  background-image: -moz-linear-gradient(right, transparent, transparent);
  background-image: -o-linear-gradient(right, transparent, transparent);
  background-image: linear-gradient(to right, transparent, transparent);
}